* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: "Nunito", sans-serif;
  background: url(http://farm8.staticflickr.com/7064/6858179818_5d652f531c_h.jpg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.log-form {
  width: 40%;
  margin-top: 50px;
  min-width: 320px;
  max-width: 475px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}
@media (max-width: 40em) {
  .log-form {
    width: 95%;
    position: relative;
    margin: 2.5% auto 0 auto;
    left: 0%;
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
}
.log-form form {
  display: block;
  width: 100%;
  padding: 2em;
}
.log-form h2 {
  color: #5d5d5d;
  font-family: Nunito, "open sans condensed";
  font-size: 1.35em;
  display: block;
  background: #2a2a2a;
  width: 100%;
  text-transform: uppercase;
  padding: 0.75em 1em 0.75em 1.5em;
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.05);
  border: 1px solid #1d1d1d;
  margin: 0;
  font-weight: 600;
}
.log-form input,
.log-form select {
  display: block;
  margin: auto auto;
  width: 100%;
  margin-bottom: 2em;
  padding: 0.5em 0;
  border: none;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 1.25em;
  color: #757575;
}
.log-form input:focus,
.log-form select:focus {
  outline: none;
}

.log-form .btn {
  display: inline-block;
  background: #1fb5bf;
  border: 1px solid #1ba0a9;
  padding: 0.5em 2em;
  color: white;
  margin-right: 0.5em;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.log-form .btn:hover {
  background: #23cad5;
}
.log-form .btn:active {
  background: #1fb5bf;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.log-form .btn:focus {
  outline: none;
}
.log-form .forgot {
  color: #33d3de;
  line-height: 0.5em;
  position: relative;
  top: 2.5em;
  text-decoration: none;
  font-size: 0.75em;
  margin: 0;
  padding: 0;
  float: right;
}
.log-form .forgot:hover {
  color: #1ba0a9;
}

.login-btn {
  display: flex;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  align-self: center;
}

.link:hover {
  text-decoration: underline;
  color: rgb(243, 162, 12);
}

.user-card {
  display: flex;
  width: 100%;
}

.user-card > * {
  background-color: rgb(221, 221, 221);
  font-family: "Nunito", sans-serif;
  margin: 2px;
  padding: 20px;
  display: flex;
  width: 100%;
  align-items: center;
}

.user-card .user-color {
  width: 15px;
}

.user-details {
  font-size: 18px;
}

.extra {
  width: 85px;
}

.user-card .user-functions {
  width: 50px;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.user-card .user-functions .delete {
  padding: 10px 15px;
}

.user-card .user-functions .delete:hover svg {
  transform: scale(1.2);
  color: rgb(231, 111, 6);
}

.user-card .user-functions .delete svg {
  font-size: 20px;
  font-weight: bolder !important;
  cursor: pointer;
  transition: all 0.3s;
}

.user-card .user-functions .edit {
  padding: 10px 15px;
}

.user-card .user-functions .edit:hover svg {
  transform: scale(1.2);
  color: rgb(12, 167, 250);
}

.user-card .user-functions .edit svg {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.user-card-header .user-color {
  background-color: #414141;
}

.user-card-header .user-details {
  background-color: #414141;
  color: #fff;
}

.user-card-header .user-role {
  background-color: #414141;
  color: #fff;
}

.user-card-header .extra {
  background-color: #414141;
}

.wrapper {
  margin: 40px;
  margin-top: 50px;
  padding: 20px;
}

.lead-status {
  align-self: center;
  justify-self: center;
}

.lead-header .lead-details {
  background-color: #414141;
  font-family: Nunito, "sans-serif";
  color: #fff;
}

.logo-wrapper {
  height: 60px;
  width: 60px;
}

.logo {
  height: 100%;
  /* object-fit: contain; */
}

.users-link {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logout {
  font-size: 25px;
  cursor: pointer;
  transition: all 0.3s;
}

.logout:hover {
  color: rgb(238, 143, 43);
}

.crm-links {
  font: 18px;
  font-family: "Nunito", sans-serif;
  color: #5d5d5d;
}

.dashboard {
  padding: 25px;
  margin-top: 80px;
}

.d-header {
  display: flex;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(55, 149, 243);
}

.d-heading {
  flex: 1;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 35px;
  font-weight: 500;
  color: #fff;
}

.d-leads {
  text-align: end;
  width: 15%;
}

.card-wrapper {
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.cards {
  width: 600px;
  border-radius: 10px;
  gap: 10px;
  justify-content: space-around;
}

.card1 {
  background-color: #ececec;
  padding: 20px;
}

.card1 .card1-header {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #564f4f;
  margin-left: 30px;
}

.card2 {
  flex: 1;
  background-color: #ececec;
  padding: 20px;
}

.card2 .card2-header {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #564f4f;
  margin-left: 30px;
}
